.ol{
    margin: 40px 40px 40px 60px; 
}
.ul{
    margin: 40px 40px 40px 60px;
    widows: 40px;
    height: 40px;
    border: 40px dashed blue;
    box-sizing: border-box;
    overflow: scroll; 
}
.container{
    width:600px;
    position:relative;
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}
.pseudo{
    position: relative;
}
.pseudo::after{
    background-color: #FFDAB9;
    width:700px;
    content: "";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index: 1;
    opacity: .5;
}
img{
    width: 700px;
}
.center{
    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
    background-color: #f004;
    opacity: 0.9;
}
.container1{
    width:600px;
    position:relative;
    text-align: center;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}
img{
    width: 700px;
}
.center1{
    position:absolute;
    top: 20%;
    right: 20;
    left: 20%;
    background-color: #FF00FF;
    opacity: 0.8;
}
